/* css code for nav tag */
body{
    background-image: url(../Image/tobias-van-schneider-gz9Ez-H5asU-unsplash.jpg);
    background-size: cover
}
nav{
    text-align: end;
}
.logo{
   height: 50px;
   width: 50px;
   border-radius:100%;
   float: left;
   margin-left: 10px;
}
li{
   margin: 15px;
   display: inline-block;
   font-size: 20px

}
li:hover{

   background-color:white;
   text-decoration: underline;
}
li>a{
   text-decoration: none;
   color: black;
   margin-right: 5px;
   opacity: 1px;

}

/* css code for images */
img{
    height: 300px;
    width: 300px;
    padding: 5px;
}
img:hover{
 transform: scale(1.2);    
}