
.left-container{
    color: grey;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgba(133, 129, 132, 0.2),0 4px 20px 0 rgba(134, 131, 131, 0.19);
}

.display-name{
    padding: 0.01em 16px;
    position: relative;
    color: black;

}
hr{
    border-top: 0.5px solid;
    width: auto;
    opacity: 0.2;
}
i{
    margin-right: 16px;
}
.padding{
   padding:  0.01em 16px;
   margin-bottom: 16px
}
.row-bar{
    color: white;
    background-color: gray;
    border-radius: 15px;
    text-align: center;
    /* box-sizing: inherit */
}
.bar{
    width: auto;
    background-color: rgb(205, 210, 214);
    border-radius: 15px;
    /* height: 20px; */
}
.lang-bar{
    background-color: gray;
    border-radius: 15px;
}
.right{
        color: gray;
        background-color: white;
        box-shadow: 0 4px 10px 0 rgba(133, 129, 132, 0.2),0 4px 20px 0 rgba(134, 131, 131, 0.19);
        margin-left:16px;
        padding: 8px;
       }
.bottom{
    margin-top: 16px;
        color: gray;
        background-color: white;
        box-shadow: 0 4px 10px 0 rgba(133, 129, 132, 0.2),0 4px 20px 0 rgba(134, 131, 131, 0.19);
        margin-left:16px;
        padding: 8px;
}
.content{
    display: flex;
}
/* css file for nav tag */
body{
    background-image: url(../Image/tobias-van-schneider-gz9Ez-H5asU-unsplash.jpg);
    background-size: contain
}
nav{
    text-align: end;
}
.logo{
   height: 50px;
   width: 50px;
   border-radius:100%;
   float: left;
   margin-left: 10px;
} 
li{
   margin: 15px;
   display: inline-block;
   font-size: 20px
}
li:hover{
   background-color:white;
   text-decoration: underline;
}
li>a{
   text-decoration: none;
   color: black;
   margin-right: 5px;
   opacity: 1px;
   
}